@charset "UTF-8";

h1 {
    text-align: center;
  }
  
  #catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .prodotto {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  
  .prodotto img {
    width: 150px;
    height: 150px;
    object-fit: cover;
  }
  
  .prodotto h3 {
    margin-top: 10px;
  }
  


  .barra-ricerca{
    width: 100%;
    display: flex;
    align-items: flex-end;
  }