
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:'Poppins',sans-serif;
	
}

body
{
background:#dee1e2;
min-height:100vh;
overflow-x:hidden;	
	
}
/*header*/
header
{
position:absolute;
top:0;
left:0;

width:100%;
height:150px;	
padding:10px 30px;
display:flex;
justify-content:space-between;
align-items:center;
box-shadow:0 15px 15px rgba(0,0,0,0.05);

}
#logoutButton {
margin-top:13%;
margin-left:90%;
margin-bottom:-200px;
background-color:#ff4848;
border:none;	
padding:5px;
z-index:999;
	
	
}

.ute{
	margin-top:180px;
	
	
}

#alert3{
background:#8cff8c;
	padding:40px 40px;
	margin-left:35%;
	margin-top:-205px;
	min-width:420px;
	position:absolute;
	border-radius:4px;
	color:#008000;
	border-left:8px solid #008000;
	z-index: 9999; 

	

}
.alert3 fas fa-check-square{
	position:absolute;
	left:20px;
	top:50%;
	transform:translateY(-50%);
	color:#008000;
	font-size:50px;	
}
.alert3 msg-alert{
	padding:0 20px;
	font-size:18px;
}
.logout-button {
    z-index: 999;
}
#activity-data{
	margin-top:120px;
	
	
}
.logo {
    max-width: 80%; /* Imposta la larghezza desiderata del logo */
    height: auto; /* Mantieni l'aspect ratio */
}
.invisibile {
    border: none; /* Rimuove il bordo */
    padding: 0; /* Rimuove il padding */
    background: none; /* Rimuove lo sfondo (se presente) */
    cursor: pointer; /* Cambia il cursore quando si passa sopra il bottone */
}
.group
{
display:flex;
align-items:center;	
	
}
.alert{
	background:#8cff8c;
	padding:40px 40px;
	margin-left:35%;
	margin-top:-5px;
	min-width:420px;
	position:absolute;
	border-radius:4px;
	color:#008000;
	border-left:8px solid #008000;
	z-index: 9999; 
	display: none;
}

.alert fas fa-check-square{
	position:absolute;
	left:20px;
	top:50%;
	transform:translateY(-50%);
	color:#008000;
	font-size:50px;	
}
.alert msg-alert{
	padding:0 20px;
	font-size:18px;
}

header ul{
	position:relative;
	display:flex;
	gap:30px;
	
}
header ul li
{
	list-style:none;
	
}

header ul li a
{
	position:relative;
	text-decoration:none;
	color:#333;
	 font-weight: bold;
	font-size:1em;
	text-transform:uppercase;
	letter-spacing:0.2em;
	
}
header ul li a::before{
	content:'';
	position:absolute;
	bottom:-2px;
	width:100%;
	height:2px;
	background:#333;
	transform:scaleX(0);
	transition:transform 0.5s ease-in-out;
	transform-origin:right;
	
}
header ul li a:hover::before{
	transform:scaleX(1);
	transform-origin:left;
	
}

header .search
{
position:relative;
display:flex;	
justify-content:center;
font-size:1.5em;
z-index:10;
cursor:pointer;	
	
	
}
header .user
{
position:relative;
display:flex;	
justify-content:center;
font-size:1.5em;
z-index:10;
cursor:pointer;		
	
}
.searchBox{
	position:absolute;
	
	right:-100%;
	width:100%;
	height:100%;
	display:flex;
	background:#fff;
	align-items:center;
	padding:0 30px;
	transition:0.5s ease-in-out;
}
.searchBox.active
{
	right:0;
}


.searchBox input{
	width:100%;
	border:none;
	outline:none;
	height:50px;
	color:#333;
	font-size:1.25em;
	background:#fff;
	border-bottom:1px solid rgba(0,0,0,0.5);
	
}
.btncerca.active{
	
left:0;	
	
}

.btnchiudi.active{
	
opacity:1;
visibility:visible;
transition:0.5s;
scale:1;	
	
}
.btncerca
{
	position:relative;
	left:30px;
	top:2.5px;
	transition:0.5s ease-in-out;
	
}
.account.active{
	opacity:0;
	visibility:hidden;
	transition:0.5s;
	scale:0;
	pointer-events: none;
	
}
.cart.active{
	opacity:0;
	visibility:hidden;
	transition:0.5s;
	scale:0;
	pointer-events: none;
	
}
.btnchiudi{
	opacity:0;
	visibility:hidden;
	transition:0.5s;
	scale:0;
	
	
}

.menu
{
position:relative;
	display:none;
}


/*responsive l'header*/
@media (max-width: 1200px)
{
	
#logoutButton {
margin-top:30%;
margin-left:90%;
margin-bottom:10px;
background-color:#ff4848;
border:none;	
padding:5px;
z-index:999;
	
	
}
	.btncerca{
		top:20px;
		left:0;
	
	}
	
	.menu{
		position:absolute;
		display:block;
		font-size:2em;
		cursor:pointer;
		transform:translateX(30px);
		z-index:10;
	
	}
header .navigation{
position:absolute;
opacity:0;
visibility:hidden;
right:100%;	
z-index: 1;	
	
}	
header.open .navigation
{
	top:90px;
	opacity:1;
	visibility:visible;
	right:0;
	display:flex;
	flex-direction:column;
	background:#f8f8ff;
	width:30%;
	height:210%;
	padding:40px;
	border-top:1px solid rgba(0,0,0,0.05);
	
}	
header .user{
flex-direction:column;	
	
}
.hide
{
	display:none;
	
}


}

/*offerte*/

#off{
    margin-top: 180px;
    padding-bottom: 20px; 
    padding-left: 20px;
    width: 100%; 
    text-align:center;
    background-color:#ff3333
    
     
    
}

#off h2{
	
	 font-size: 46px;
	 
}

#off .offerta{
	width:22%;
	margin-top:20px;
	margin-right:30px;
	min-width:250px;
	padding:20px 20px 20px;
	border:1px solid #cce7d0;
	border-radius:25px;
	cursor:pointer;
	box-shadow:20px 20px 30px rgba(0,0,0,0.09);
	background:#fff;
	transition:0.2s ease;
	position:relative;
	
	
}
#off .offerta .descr2{
	text-align:start;
	padding:10px 0;
		
}

#off .offerta .descr2 span{
	color:#606063;
	font-size:14px;
}
#off .offerta .descr2 h5{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:16px;
		
}
#off .offerta .descr2 h4{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:15px;
		
}

#off .off-container{
	 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	
}
#off .offerta .carrello2{
	width:30px;
	height:30px;
	line-height:30px;
	 border-radius:50px;
	background-color:#e8f6ea;
	font-weight:500;
	color: #0f2027;
	padding:3px;
	border:1px solid #cce7d0;
	margin-right: -180px;
	margin-bottom:10px;
}

#off .offerta:hover{
	box-shadow:20px 20px 30px rgba(0,0,0,0.8);
	
}
#off .offerta img{
	width:50%;
	border-radius:20px;
	
	
}
/*console*/
#cons{
    margin-top: 40px;
    padding-bottom: 20px; 
    padding-left: 20px;
    width: 100%; 
    text-align:center;
    background:#107C10;
     
    
}

#cons h2{
	
	 font-size: 46px;
	 color:#fff;
	 
}
#cons h3{
	
	 font-size: 32px;
	 text-align:left;
	 color:#fff;
}
#cons .console{
	width:22%;
	margin-top:20px;
	margin-right:30px;
	min-width:250px;
	padding:20px 20px 20px;
	border:1px solid #cce7d0;
	border-radius:25px;
	cursor:pointer;
	box-shadow:20px 20px 30px rgba(0,0,0,0.09);
	background:#fff;
	transition:0.2s ease;
	position:relative;
	
	
}
#cons .console .descr1{
	text-align:start;
	padding:10px 0;
		
}

#cons .console .descr1 span{
	color:#606063;
	font-size:14px;
}
#cons .console .descr1 h5{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:16px;
		
}
##cons .console .descr1 h4{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:15px;
		
}

#cons .con-container{
	 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	
}
#cons .console .carrello1{
	width:30px;
	height:30px;
	line-height:30px;
	 border-radius:50px;
	background-color:#e8f6ea;
	font-weight:500;
	color: #0f2027;
	padding:3px;
	border:1px solid #cce7d0;
	margin-right: -180px;
	margin-bottom:10px;
	
}

#cons .console:hover{
	box-shadow:20px 20px 30px rgba(0,0,0,0.8);
	
}
#cons .console img{
	width:50%;
	border-radius:20px;
	
	
}

/*prodotti*/
#prod{
    margin-top: 40px;
    padding-bottom: 20px; 
    padding-left: 20px;
    width: 100%; 
    text-align:center;
    
     
    
}

#prod h2{
	
	 font-size: 46px;
	 
}

#prod .prodotto{
	width:22%;
	margin-top:20px;
	margin-right:30px;
	min-width:250px;
	padding:20px 20px 20px;
	border:1px solid #cce7d0;
	border-radius:25px;
	cursor:pointer;
	box-shadow:20px 20px 30px rgba(0,0,0,0.09);
	background:#fff;
	transition:0.2s ease;
	position:relative;
	
	
}
#prod .prodotto .descr{
	text-align:start;
	padding:10px 0;
		
}

#prod .prodotto .descr span{
	color:#606063;
	font-size:14px;
}
#prod .prodotto .descr h5{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:16px;
		
}
#prod .prodotto .descr h4{
	
	padding-top:5px;
	color:#1a1a1a;
	font-size:15px;
		
}

#prod .pro-container{
	 display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
	
}
#prod .prodotto .carrello{
	width:30px;
	height:30px;
	line-height:30px;
	 border-radius:50px;
	background-color:#e8f6ea;
	font-weight:500;
	color: #0f2027;
	padding:3px;
	border:1px solid #cce7d0;
	margin-right: -180px;
	margin-bottom:10px;
}

#prod .prodotto:hover{
	box-shadow:20px 20px 30px rgba(0,0,0,0.8);
	
}
#prod .prodotto img{
	width:50%;
	border-radius:20px;
	
	
}

/*prodotto singolo*/

#dett{
	
	display:flex;
	margin-top:180px;
}
#dett .dett-img
{ 
	
	border:1px solid #cce7d0;
	border-radius:25px;
	cursor:pointer;
	box-shadow:20px 20px 30px rgba(0,0,0,0.09);
	background:#fff;
	transition:0.2s ease;
	position:relative;
 width:25%;
 margin-right:50px;
  margin-left:70px;
 padding:20px 20px 20px;
}

#dett .dettaglio{
	width:50%;
	padding-top:30px;
	
}


#dett .dettaglio h2{
	font-size:26px;
	padding-top:10px;
	margin-bottom:10px;
	
	
	
}

#dett .dettaglio input{
	padding-left:10px;
	width:50px;
	height:47px;
	font-size:16px;
	margin-right:10px;
	margin-bottom:10px;
	
}

#dett .dettaglio input:focus{
	outline:none;
	
	
}

#dett .dettaglio button{
	
	
    padding:10px;
    color: white;
    background-color:#088178;
    border: none;
    border-radius: 4px;
    cursor: pointer;
     
}

#dett .dettaglio span{
	
	line-height:25px;
	word-wrap: break-word;
}

/*carrello*/
#carrello{
    margin-top: 180px;
    padding-bottom: 250px; 
    padding-left: 20px;
    width: 100%; 
    text-align:center;
}
.nome-cart {
  max-width: 100px; 
  overflow: hidden;
  white-space: nowrap; 
  text-overflow: ellipsis;
}



#carrello table{
	width:100%;
	border-collapse:collapse;
	table-layout:fixed;
	white-space:nowrap;
}

#carrello table img{
	width:70px;
}

#carrello table td:nth-child(1){
	width:100px;
	text-align:center;
}

#carrello table td:nth-child(2){
	width:150px;
	text-align:center;
}

#carrello table td:nth-child(3){
	width:250px;
	text-align:center;
}

#carrello table td:nth-child(4){
	width:150px;
	text-align:center;
}
#carrello table td:nth-child(5){
	width:150px;
	text-align:center;
}
#carrello table td:nth-child(6){
	width:150px;
	text-align:center;
}

#carrello{
	
overflow-x:auto;	
	
}

#carrello table td:nth-child(5) input{
	width:70px;
	padding:10px 5px 10px 15px;
	
	
}

#carrello table tbody tr td input{
	width:50px;
	
}

 #carrello table thead{
 	border:1px solid #696969;
 	border-left:none;
 	border-right:none;
 
 }
 
  #carrello table thead td{
  	font-weight:700;
  	text-transform:uppercase;
  	font-size:13px;
  	padding:18px 0; 
  	word-wrap: break-word;
  }
  #carrello table tbody tr td{
  	padding-top:15px;
  
  }
  
 #totale {
  padding: 30px;
  margin-top: 40px;
  border: 2px solid #696969;
  background-color: #fff;
  width:70%;

}
  #pagamento{
  	display:flex;
  	flex-wrap:wrap;
  	justify-content:flex-end;
  
  }
  #totale table{
   border-collapse:collapse;
   width:100%;
   margin-bottom:20px;
   
  
  }

#totale h3{
	padding-bottom:15px;
	
	
}

#totale button{
	 padding:10px;
    color: white;
    background-color:#088178;
    border: none;
    border-radius: 4px;
    cursor: pointer;	
}
  #totale table td{
  
  width: auto;
  border:2px solid #088178;
padding:10px;
  font-size:13px;
  
  
  }
  